body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}
h1,h2{
    text-align: center;
}
.input-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.input-section label{
    font-weight: bold;
    margin-right: 10px;
}
.input-section input[type="number"], .input-section input[type="date"]{
    padding: 5px;
    margin-right: 10px;
}
.input-section button{
    padding: 5px 10px;
    background-color: rgb(238, 9, 9);
    color:white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.expenses-list{
    margin: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;

}
th{
    background-color: rgb(215, 222, 38);
    color: rgb(12, 1, 1);
}
tfoot td{
    font-weight: bold;
}
.delete-btn{
    padding: 5px 10px;
    background-color: rgb(238, 9, 9);
    color:white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}